body{
  width: 100%;
}
article.use-marginalis {
  width: 50%;
  /*font-size: 1em;*/
  line-height: 1.52em;
  position: relative;
  font-family: 'georgia, times, serif';
  color: #222;
}
article.use-marginalis p.marginalis.selected{
  font-size: 1em;
  line-height: 1.28em;
  overflow: visible;
}
article.use-marginalis p.marginalis{
  font-size: 0.66em;
  line-height: 1.33em; /* for some reason, ems here are relative to the font size in this margin note */
  width: 50%;
  position: absolute;
  left: 102%;
}
article.use-marginalis p.marginalis span.marginalis-expander{
  font-size: 1em;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  position: absolute;
  bottom: 0px;
  vertical-align: bottom;
  left: 0px;
}
article.use-marginalis p.faded_text{
  color: #eee;
}
article.use-marginalis p.faded_text a{
  color: #bdf;
}
article.use-marginalis p.faded_text span.marginalis-expander{
  color: #bdf;
}
article.use-marginalis span.faded_text{
  color: #eee;
}


/* the "normal" colors */
article.use-marginalis .not_faded_text{
  color: #222;
}
article.use-marginalis p.not_faded_text{
  color: #222;
}
article.use-marginalis .not_faded_text a{
  color: blue;
}
article.use-marginalis a.not_faded_text{
  color: blue;
}

