body{
  width: 100%;
}
div#main{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
article {
  width: 505px;
  font-size: 17px;
  line-height: 25px;
  position: relative;
  font-family: 'georgia, times, serif';
  color: #222;
}
article p.marginalis.selected{
  font-size: 18px;
  line-height: 23px;
  overflow: visible;
}
article p.marginalis{
  font-size: 12px;
  line-height: 16px;
  width: 285px;
  position: absolute;
  left: 515px;
}
article p.marginalis span.marginalis-expander{
  font-size: 18px;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  position: absolute;
  bottom: 0px;
  vertical-align: bottom;
  left: 0px;
}
article p.faded_text{
  color: #eee;
}
article p.faded_text a{
  color: #bdf;
}
article p.faded_text span.marginalis-expander{
  color: #bdf;
}
article span.faded_text{
  color: #eee;
}


/* the "normal" colors */
article .not_faded_text{
  color: #222;
}
article p.not_faded_text{
  color: #222;
}
article .not_faded_text a{
  color: blue;
}
article a.not_faded_text{
  color: blue;
}

